body {
    background-color: #a68686;
    margin: 0;
    font-family: Arial;
    box-sizing: border-box
}

* {
    box-sizing: inherit;
}

/*box-sixing: content-box
box-sizing: border-box*/

main {
    width: 1140px;
    margin: auto;
    background-color: aqua;
}

header {
    width: 1140px;
    height: 225px;
    background-color: #e9e9e9;
    text-align: center;
    padding: 40px;
}

h1 {
    font-size: 50px;
    margin-top: 0px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
    padding-left: 10px;
}

ol {
    font-size: 20px;
    padding-left: 30px;
}

.content {
    width: 100%;
    height: 700px;
}

.to-do {
    width: 325px;
    height: 100%;
    background: teal;
    float: left;
}

article {
    background-color: white;
    height: 100%;
    width: 815px;
    float: right;
    padding: 40px;

}

ul {
    list-style-type: disc;
}

.juice {
    color: white;
}

img {
    width: 500px;
    display: block;
    margin-top: 50px;
    position: relative;
    top: 9px;
    left: 7px;
}
